name: Dev.to CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - main
    paths:
      - 'posts/**/**.md'
      - 'posts/**/**/**.md'
  pull_request:
    types: [closed]
    branches:
      - main
    paths:
      - 'posts/**/**.md'
      - 'posts/**/**/**.md'

jobs:
  format_check:
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/main') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 20

      - name: Install Dependencies
        uses: bahmutov/npm-install@v1.11.2

      - name: Run Prettier Check
        run: yarn prettier:check

      - name: Dry Run Publish to Dev.to
        if: ${{ github.ref == 'refs/heads/dev' }}
        uses: sinedied/publish-devto@v2
        with:
          files: 'posts/**/*.md'
          devto_key: ${{ secrets.DEVTO_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dry_run: true
        continue-on-error: false

  publish_devto:
    if: ${{ github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && github.ref == 'refs/heads/main') || (github.event_name == 'pull_request' && github.event.pull_request.merged == true) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          ref: main

      - name: Setup Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 20

      - name: Install Dependencies
        uses: bahmutov/npm-install@v1.11.2

      - name: Publish articles on dev.to
        uses: sinedied/publish-devto@v2
        with:
          files: 'posts/**/*.md'
          devto_key: ${{ secrets.DEVTO_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: false
